#footer
    .container
        .row
            .col-md-6.text-muted(style='margin: 20px 0; font-size: small;')
                p.text-left © 2014 帆茂投资管理有限公司
            .col-md-6.text-muted(style='margin: 20px 0; font-size: small;')
                p.text-right 帮助12