//
   Created by wangnan on 14-4-23.

p#p1.
    hello page load #{msg}
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>
    asdfsdfsdfdsf</br>



script.
    $('#p1').append('<strong> end.</strong>');
