doctype html
html
    head
        block head
            title= title
            meta(http-equiv="content-type" content="text/html; charset=UTF-8")
            link(href='/stylesheets/jq/jquery-ui-1.10.4.custom.min.css', rel='stylesheet')
            link(rel='stylesheet', href='/stylesheets/bootstrap.css')
            link(rel='stylesheet', href='/font-css/fontello.css')
            link(rel='stylesheet', href='/font-css/animation.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(href='/stylesheets/fullcalendar.css', rel='stylesheet')
            link(href='/stylesheets/fullcalendar.print.css', rel='stylesheet', media='print')
            link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-modal-bs3patch.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-modal.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-switch.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-tagsinput.css')
            link(rel='stylesheet', href='/stylesheets/toastr.min.css')
            link(rel='stylesheet', href='/stylesheets/pagination.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
            link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
            link(rel='stylesheet', href='/stylesheets/jquery.qtip.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-multiselect.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-checkbox.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-treeview.css')
            link(rel='stylesheet', href='/stylesheets/image-picker.css')
            link(rel='stylesheet', href='/stylesheets/themes/default/_css/umeditor.css')

            block style
            script(src='/javascripts/moment.js')
            script(src='/javascripts/async.js')
            script(src='/javascripts/jquery-1.11.0.min.js')
            script(src='/javascripts/jquery.validate.min.js')
            script(src='/javascripts/jquery-ui.min.js')
            script(src='/javascripts/messages_cn.js')
            script(src='/javascripts/runtime.js')
            script(src='/javascripts/jquery-ui-1.10.4.custom.min.js')
            script(src='/javascripts/bootstrap.min.js')
            script(src='/javascripts/jquery.validate.bootstrap.popover.min.js')
            script(src='/javascripts/typeahead.bundle.js')
            script(src='/javascripts/bootstrap-select.min.js')
            script(src='/javascripts/fullcalendar.min.js')
            script(src='/javascripts/bootstrap-button.js')
            script(src='/javascripts/bootstrap-modalmanager.js')
            script(src='/javascripts/bootstrap-modal.js')
            script(src='/javascripts/bootstrap-switch.js')
            script(src='/javascripts/bootstrap-filestyle.min.js')
            script(src='/javascripts/toastr.min.js')
            script(src='/javascripts/highcharts.js')
            script(src='/javascripts/underscore-1.5.2.min.js')
            script(src='/javascripts/async.js')
            script(src='/javascripts/pup.js')
            script(src='/javascripts/pup-callCenter.js')
            script(src='/javascripts/pup-callcenter-uicontroller.js')
            script(src='/javascripts/utils.js')
            script(src='/javascripts/jquery.pagination.js')
            script(src='/javascripts/template.js')
            script(src='/javascripts/bootstrap-tagsinput.min.js')
            script(src='/javascripts/jquery.fileupload.js')
            script(src='/javascripts/jquery.iframe-transport.js')
            script(src='/javascripts/jquery.ui.widget.js')
            script(src='/javascripts/bootstrap-datepicker.js')
            script(src='/javascripts/bootstrap-datetimepicker.min.js')
            script(src='/socket.io/socket.io.js')
            script(src='/javascripts/jquery.qqFace.js')
            script(src='/javascripts/jquery.qtip.js')
            script(src='/javascripts/bootstrap-multiselect.js')
            script(src='/javascripts/bootstrap-checkbox.js')
            script(src='/javascripts/bootstrap-treeview.js')
            script(src='/javascripts/jquery.oLoader.js')
            script(src='/javascripts/FileSaver.js')
            script(src='/javascripts/Blob.js')
            script(src='/javascripts/xlsx.core.min.js')
            script(src='/javascripts/ga.js')
            script(src='/javascripts/image-picker.js')
            script(src='/javascripts/umeditor.config.js')
            script(src='/javascripts/editor_api.js')
            script(src='/javascripts/jquery.filedrop.js')
            block script
    body(style='')
        #wrap(data-viewgroup='fullScreenLayers', data-viewid='fsl-1')
            include header
            .container
                #msg.alert.alert-success.col-md-6.col-md-offset-3.alert-dismissable(style='display: none;')
                    button(class="close", data-dismiss="alert", aria-hidden="true") &times;
                    p 操作成功
                block content
        include footer
        block secondLayer
        block thirdLayer
