doctype html
html
    head
        title HIPI LIFE
        link(href='/stylesheets/bootstrap.css', rel='stylesheet')
        //link(href='/stylesheets/bootstrap-theme.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.
            body {
                padding-top: 40px;
                background-color: #eee;
            }

            .form-signin {
                max-width: 330px;
                padding: 15px;
                margin: 0 auto;
            }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                margin-bottom: 10px;
            }

            .form-signin .form-control:focus {
                z-index: 2;
            }


        script(src='/js/jquery-1.10.1.min.js')
        script.
            $(function() {
                $('#submit').click(function() {
                    var email = $('#email').val();
                    var nickname = $('#nickname').val();
                    var password = $('#password').val();
                    var password2 = $('#password2').val();
                    $('#form').submit();
                });
            });
    body
        #wrap
            .container
                form#form.form-signin(action='/register', method='post')
                    h2.form-signin-heading Register
                    input#email.form-control(name='email', type='text', placeholder='Email address', autofocus='autofocus', required='required')
                    input#nickname.form-control(name='nickname', type='text', placeholder='Nickname', required='required')
                    input#password.form-control(name='password', type='password', placeholder='Password', required='required')
                    input#password2.form-control(type='password', placeholder='Confirm password', required='required')
                    button#submit.btn.btn-lg.btn-success.btn-block(type='submit') Register
                    a.pull-right(href='/login', style='margin-top: 10px') Click here to login

        include ../footer