//
   Created by tanyuan on 7/1/15.
each image, i in images
    .row
        each img, j in image
            .col-md-2.text-center
                img.img.pointer-cursor(data-id='#{img.name}')(src='#{img.path}' alt="...")
                p #{img.name}

script.
    $('.img').click(function(ev) {
        ev.preventDefault();
        var name = $(this).data('id');

        if($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $(this).removeAttr("style");
            var idx = imageNames.indexOf(name);
            if (idx != -1) {
                imageNames.splice(idx, 1);
            }
        }else {
            $(this).addClass('selected');
            $(this).css({
                'border': '10px solid #FF9600'
            });
            imageNames.push(name);
        }
    })



